*{
    padding:0;
    margin:0;
}
#img-1st{
    width:100%;
    height:550px;
    opacity:0.9;
}
.banner-word{
    position: absolute;
    top:180px;
    right:440px;      
}
.banner-word1,.banner-word2{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size:26px;
    letter-spacing: 0.2em;
    text-align: center;
}
#last{
    position:relative;
    bottom:350px;
    left:30px;
}
#next{
    position:relative;
    bottom:350px;
    left:1200px;
}
.banner input{
    padding:20px;
    background-color:rgba(0, 0, 0, 0.404);
    color:rgba(255, 255, 255, 0.532);
    border:none;
    font-size:30px;
    
}
.banner input:hover{
    background-color: rgba(0, 0, 0, 0.767);
    color:rgba(255, 255, 255, 0.781);
}
hr{
    color:rgb(182, 181, 181);
    margin-left: 30%;
    margin-right:30%;
    margin-top:10px;
    height:0.1px;
}
#part_2{
    width:100%;
    height:650px;
    background-color: rgb(236, 239, 241);
}
.p2-left,.p2-right{
    width:40%;
    float:left;
    background-color: white;
    margin-top:20px;
    margin-left:7%;
    text-align: center;
    color:rgb(163, 162, 160);
    
}
.part_2 h1{
    color:rgba(0, 0, 0, 0.685);
    padding: 10px;
    font-weight:100;
}
.p2-left-img,.p2-right-img{
    width:100%;
    height:40%;
}
.part_2 p{
    font-size:20px;
    padding:10px;
}
button{
    border: 1px solid rgb(172, 170, 170);
    color:black;
    background-color: white;
    padding:18px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size:16px;
    cursor:pointer;
}
button:hover{
    background-color:rgb(41, 39, 160);
    color:white;
}
.part_3{
    background-image: url('https://resource.bcgame-face2face.haorenao.cn/slide02.jpg');
    width:100%;
    height:150px;
    text-align:center;
    color:rgba(255, 255, 255, 0.801);
    font-family: 'Courier New', Courier, monospace;
    padding-top:80px;
}
.part_4{
    background-color: rgb(236, 239, 241);
    width:100%;
    height:850px;
}
.p4-word{
    padding:80px;
    text-align:center;
    color:rgb(134, 133, 133);
}
.p4-img-1,.p4-img-2{
    width:100%;
    height:283px;
}
.p4-1,.p4-2,.p4-3,.p4-4{
    float:left;
    width:500px;
    height:250px;
    margin-left:116px;
    border:10px solid white;
}
.p4-word h1{
    font-weight:100;
}
.part_5{
    width:100%;
    height:150px;
    background-color:black;
    color:rgb(134, 133, 133);
    font-size:15px;
    text-align:center;
    }
.part_5 p{
    padding:70px;
}
